@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-footer: #0f172a;
  --color-foreground: #111111;
  --color-muted-foreground: #6b7280;
  --color-background: #f9f9f9;
}

@plugin "daisyui/theme" {
  name: "custom";
  default: true;
  prefersdark: false;
  color-scheme: light;

  --color-background: #f9f9f9;
  --color-foreground: #111111;
  --color-muted-foreground: #6b7280;
  --color-primary: #0056b3;
  --color-accent: #ddebfe;
  --color-footer: #0f172a;

  --color-base-100: #ffffff;
  --color-base-200: #f9f9f9;
  --color-base-content: #111111;

  --color-secondary: #5faaff;
  --color-secondary-content: #f8f9fa;

  --color-neutral: #6b7280;
  --color-neutral-content: #f8f9fa;

  --color-info: #167af5;
  --color-success: #0eda59;
  --color-warning: #facc15;
  --color-error: #f42828;

  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  --border: 1px;
  --depth: 1;
  --noise: 0;
}

body,
h1,
h2,
h3,
h4,
p {
  font-family: "Segoe UI", Arial, sans-serif;
}

h1 {
  font-size: clamp(1.8rem, 5vw, 3rem);
  font-weight: 800;
  line-height: 1.2;
}

h2 {
  font-size: clamp(1.2rem, 3vw, 1.75rem);
  font-weight: 700;
  line-height: 1.3;
}

h3 {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  font-weight: 600;
  line-height: 1.4;
}

h4 {
  font-size: clamp(0.9rem, 2vw, 1.2rem);
  font-weight: 500;
  line-height: 1.4;
}

p {
  font-size: 0.875rem;
  line-height: 1.6;
  color: var(--color-muted-foreground);
}
